doctype 
html

    body

        head

            // meta tags

            meta(charset="UTF-8")
            meta(name="HandheldFriendly" content="true")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            meta(name="apple-mobile-web-app-capable" content="yes")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")

            meta(name="description" content="")
            meta(name="keywords" content="")
            meta(name="author" content="")

            meta(property="og:title" content="")
            meta(property="og:description" content="")
            meta(property="og:image" content="")

            meta(name="twitter:card" content="summary")
            meta(property="twitter:title" content="")
            meta(property="twitter:description" content="")
            meta(property="twitter:image" content="")

            // non-meta tags

            title 